#fs {
    padding-top:0%;
}

.factoryshop-swiper-wrap {
    background: #444444;
    width: 100%;
    height: rem(630);
    opacity: 0.6;
    .factoryshop {
        .fac-btn-next {
            width: rem(50);
            height: rem(50);
            background: #fff;
            border: 3px solid #000000;
            border-radius: 28px;
            font-size: rem(20);
            font-weight: bold;
            top:55%;
        }
        .fac-btn-prev {
            width: rem(50);
            height: rem(50);
            background: #fff;
            border: 3px solid #000000;
            border-radius: 28px;
            font-size: rem(20);
            font-weight: bold;
            top:55%;
        }
        .swiper-wrapper {
            .swiper-slide {
                >img {
                    width: 100%;
                    min-width: rem(1920);
                    height:rem(630);
                }
            }
        }
    }
}

.fs-head {
    transform: translateY(-45%);
    z-index: 3;
    .tit {
        font-size: rem(103);
        font-weight: bold;
        color: #1A1F27;
    }
}

.fs-tit-wrap1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    > span {
        font-size:rem(56);
        font-weight: bold;
        color: #1A1F27;
        margin-bottom:rem(23);
    }
    > p {
        text-align: center;
        font-size:rem(28);
        font-weight: bold;
        color: #1A1F27;
        line-height: rem(40);
        margin-bottom:rem(201);
    }
}

.fs-tit-wrap2 {
    display: flex;
    flex-direction: column;
    margin-bottom:rem(201);
    > span {
        text-align: left;
        font-size:rem(28);
        font-weight: bold;
        color: #1A1F27;
        margin-bottom: rem(30);
    }
    > p {
        text-align: left;
        font-size:rem(20);
        font-weight: normal;
        color: #1A1F27;
        line-height: rem(30);
    }
}

.fs-tit-wrap3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom:rem(201);
    > span {
        font-size:rem(28);
        font-weight: bold;
        color: #1A1F27;
        margin-left:rem(784);
        margin-bottom: rem(30);
    }
    > p {
        font-size:rem(20);
        font-weight: normal;
        color: #1A1F27;
        line-height: rem(30);
        margin-left:rem(784);
    }
}

.fs-tit-wrap4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom:rem(320);
    > span {
        font-size:rem(28);
        font-weight: bold;
        color: #1A1F27;
        margin-bottom: rem(30);
    }
    > p {
        font-size:rem(20);
        font-weight: normal;
        color: #1A1F27;
        line-height: rem(30);
    }
}

.fs-bp-tit {
    font-size: rem(56);
    font-weight: bold;
    text-align: center;
    color: #1A1F27;
    margin-bottom:rem(49);
}

.fs-bp-main {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    .fs-bp-list {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        .fs-bp-imgwrap {
            display:flex;
            flex-direction: column;
            justify-content: center;
            &:hover {
                background: #F5F5F5;
            }
            > img:nth-of-type(1) {
                width: rem(76);
                height: rem(27);
            }
            > img:nth-of-type(2) {
                width: rem(232);
                height: rem(300);
            }
        }
        > span {
            font-size: rem(15);
            font-weight: bold;
            color: #6D7683;
            margin-bottom:rem(5)
        }
        > p {
            font-size: rem(20);
            font-weight: 600;
            color: #000;
            margin-bottom:rem(20)
        }
        .fs-bp-txt {
            display: flex;
            align-items: center;
            > img {
                width: rem(21);
                height: rem(21);
                margin-right:rem(5);
            }
            > p {
                font-size: rem(18);
                font-weight: 600;
                color: #000000;
            }
        }
    }
}

.total-btn-wrap {
    position: relative;
    border: 4px solid #000000;
    border-radius: rem(32);
    box-shadow: 0px 20px 40px #0000001A;
    background: #fff;
    width: rem(159);
    height:rem(66);
    cursor: pointer;
    margin-top:rem(100);
    left: 43%;
        .total-btn-content {
            display:flex;
            justify-content: center;
            align-items: center;
            margin-top: rem(19);
            > img {
                width: rem(21);
                height: rem(26);
                margin-right: rem(9);
            }
            > p {
             font-size: rem(20);   
             font-weight: 600;
            }
        }
}  

.fs-img-wrap {
    position: absolute;
    width: 100%;
    height: 100vh;
    top:0;
    right:0;
    bottom:0;
    left:0;
    .obj-fs-obj-sungem {
        position: absolute;
        display: inline-block;
        width: rem(250);
        height:rem(250);
        top:rem(1243);
        left:rem(975);
        object-fit: cover;
        background-repeat: no-repeat;
        background-image: url("../img/obj-sungem.png");
        z-index: 30;
    }
    .obj-fs-artistEn {
        position: absolute;
        display: inline-block;
        width: rem(260);
        height:rem(250);
        top:rem(1555);
        left:rem(388);
        object-fit: cover;
        background-repeat: no-repeat;
        background-image: url("../img/img_En.png");
        z-index: 30;
    }
    .obj-fs-endor {
        position: absolute;
        display: inline-block;
        width: rem(351);
        height:rem(269);
        top:rem(1915);
        left:rem(1181);
        object-fit: cover;
        background-repeat: no-repeat;
        background-image: url("../img/fs-endor.png");
        z-index: 30;
    }
    .obj-fs-gem3 {
        position: absolute;
        display: inline-block;
        top:rem(1865);
        width: rem(351);
        height:rem(269);
        left:rem(681);
        object-fit: cover;
        background-repeat:no-repeat;
        background-image: url("../img/fs-gem3.png");
        z-index: 0;
    }
}
