#container {
    &.fac-main {
        padding-top : rem(140);
    }
}

.slide-factory {
    position: relative;
    background: #444;
    width: 100%;
    height: rem(630);
    .swiper-wrapper {
        width: 100%;
        .swiper-slide {
            width: rem(1320);
            background: #fff;
            display:flex;
            flex-direction: column;
            justify-content: center;
            .fc-bg {
                max-width: rem(1280);
                height: 100%;
                margin: 0 auto;
            }
            .fc-bg-mo {
                display:none;
            }
            .tit {
                font-size: rem(32);
                font-weight: bold;
                color:#fff;
                margin-bottom: rem(31);
            }
            .txt {
                font-size: rem(20);
                font-weight: 600;
                color:#fff;
                line-height: rem(30);
            }
        }
    }
    .swiper-pagination {
        display:none;
    }
    [class*='swiper-button'] {
        width: rem(50);
        height: rem(50);
    }
    .swiper-button-prev {
        background-image: url('../img/ic-video-left.png');
    }
    .swiper-button-next {
    background-image: url('../img/ic-video-right.png');
    }
}

#sectionfactoryshop {
    padding : rem(40) rem(40) rem(160) rem(40);
    min-height: rem(0);
    .tit-wrap {
        margin-top: rem(80);
        .tit {
            font-size: rem(32);
            font-weight: 800;
            color:#1A1F27;
            margin-bottom: rem(41);
            > br {
                display:none;
            }
        }
    }
    .btn-wrap {
        margin-bottom: rem(20);
        .connect-btn {
            background-color: #FDE500;
        }
    }
    .btn-wrap-connect2-mo {
        display:none;
    }

    .total-wrap {
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: rem(10);
        .ic-wrap {
            position: relative;
            display:flex;
            flex-direction: column;
            align-items: center;
            width: rem(200);
            height: rem(210);
            margin: rem(30) rem(68);
            .step {
                position: absolute;
                font-size: rem(13);
                font-weight: bold;
                border: rem(2) solid #1A1F27;
                border-radius: rem(15);
                background-color: #fff;
                padding: rem(8) rem(13) rem(7) rem(13);
                bottom: 14%;
                z-index: 5;
            }
            [class*='ic-'] {
                position: relative;
                width: rem(170);
                height: rem(170);
                border: rem(4) solid #1A1F27;
                border-radius: rem(85);
            }
            .ic-coin {
                background-image: url('../img/FC-ic-coin.png');
            }
            .ic-market {
                background-image: url('../img/FC-ic-market.png');
            }
            .ic-point {
                background-image: url('../img/FC-ic-point.png');
            }
            .ic-credit {
                background-image: url('../img/FC-ic-credit.png');
            }
            .ic-delivery {
                background-image: url('../img/FC-ic-delivery.png');
            }
            .ic-gift {
                background-image: url('../img/FC-ic-gift.png');
            }
            .name {
                font-size: rem(18);
                font-weight: 600;
                margin-top: rem(23);
            }
        }
    }
}

.wrap-bot {
    display:flex;
    flex-direction: column;
    padding: rem(0) rem(62);
    margin: 0 auto;
    .dd {
        text-align: center;
        font-size: rem(18);
        font-weight: 500;
        margin-bottom: rem(30);
    }
    .bot-tit {
        text-align: center;
        font-size: rem(32);
        font-weight: 800;
        color:#1A1F27;
        margin-bottom: rem(119);
        > br {
            display:none;
        }
    }
    .item-wrap {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: rem(100);
        .item-list {
            width: rem(312);
            display:flex;
            flex-direction: column;
            margin: rem(6) rem(6) rem(30) rem(6);
            .thumb {
                position: relative;
                width: rem(312);
                height: rem(420);
                overflow: hidden;
                margin-bottom: rem(15);
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .best-img {
                    display:block;
                    width: rem(76);
                    margin-right: 68%;
                    margin-bottom: rem(15);
                }
                &:hover {
                    background: #F5F5F5;
                }
                .fc-img {
                    width: rem(174);
                    height: rem(232);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            .custom-wrap {
                > small {
                    font-size: rem(15);
                    font-weight: bold;
                    line-height: rem(26);
                    color:#6D7683;
                }
                .best-img-mo {
                    display:none;
                }
            }
            > small {
                font-size: rem(15);
                font-weight: bold;
                color:#6D7683;
                line-height: rem(26);
            }
            .tit {
                font-size: rem(20);
                font-weight: 600;
                margin-bottom: rem(20);
            }
            .txt-wrap {
                display:flex;
                align-items: center;
                .ic-round {
                    display:inline-block;
                    width: rem(21);
                    height: rem(21);
                    background-image: url("../img/ic-round.png");
                    margin-right: rem(5);
                }
                .num {
                    display:inline-block;
                    font-size: rem(18);
                    font-weight: 600;
                }
            }
        }
    }
    .btn-wrap {
        display:flex;
        justify-content: center;
        margin-bottom: rem(100);
    }
}

@media (max-width: 1024px) {
    .slide-factory { 
        width: 100%;
        height: unset;
        .swiper-wrapper {
            .swiper-slide {
                width: 100%;
                .fc-bg {
                    display:none;
                }
                .fc-bg-mo {
                    display:block;
                }
                .tit {
                    font-size: rem(24);
                    font-weight: bold;
                    text-align: center;
                }
                .txt {
                    font-size: rem(16);
                    font-weight: 400;
                    text-align: center;
                    >br {
                        display:none;
                    }
                }
            }
        }
        [class*='swiper-button'] {
            display:none;
        }
        .swiper-pagination {
            display:block;
            bottom: 20%;
        }
        .swiper-pagination-bullet {
            width: rem(8);
            height: rem(8);
            border-radius: 50%;
            opacity: 0.5;
            background: #fff;
            display: inline-block;
            margin-right: rem(8);
            cursor: pointer;
            transition: all 0.2s;
        }
        .swiper-pagination-bullet-active {
            background: #fff;
            width: rem(20);
            border-radius: rem(5);
            opacity: 1;
        }
    }
    #container {
        &.fac-main {
            padding-top : rem(100);
        }
    }
    #sectionfactoryshop {
        .tit-wrap {
            margin-top: rem(50);
            .tit {
                font-size: rem(28);
                font-weight: bold;
                line-height: rem(42);
                > br {
                    display:inline;
                }
            }
        }
        .total-wrap {
            width: 100%;
            margin-bottom: rem(30);
            .ic-wrap {
                width: 100%;
                flex-direction: unset;
                height: unset;
                justify-content: center;
                margin: rem(0);
                &:last-child > .step::after {
                    display:none;
                }
                .step {
                    position: relative;
                    font-size: rem(13);
                    &::after {
                        position: absolute;
                        content: '';
                        width: rem(2);
                        height: rem(51);
                        background: #000;
                        left:50%;
                        bottom:-182%;
                    }
                }
                [class*='ic-'] {
                    width: rem(80);
                    height: rem(80);
                    border: unset;
                    border-radius: unset;
                    margin: rem(0) rem(20);
                    &::after {
                        bottom: unset;
                        left: -100%;
                        top: 40%;
                    }
                }
                .name {
                    width: rem(98);
                    font-size: rem(18);
                    font-weight: 600;
                    text-align: left;
                    margin-top: unset;
                }
            }
        }

        .btn-wrap-connect1-mo {
            display: none;
        }
        .btn-wrap-connect2-mo {
            display: block;
            .connect-btn-mo {
                padding: rem(0) rem(34.5);
                height: rem(58);
                border: rem(2) solid #000;
                background-color: #FDE500;
                font-size: rem(16);
            }
        }
    }
    .wrap-bot {
        padding: rem(0) rem(24);
        .dd {
            font-size: rem(18);
            font-weight: 500;
        }
        .bot-tit {
            font-size: rem(28);
            font-weight: bold;
            line-height: rem(42);
            margin-bottom: rem(20);
            >br {
                display:inline;
            }
        }
        .item-wrap {
            margin-bottom: rem(30);
            .item-list {
                width: rem(162);
                height: rem(297);
                padding: unset;
                margin: rem(4);
                &:hover {
                    background: unset;
                }
                .thumb {
                    width: 100%;
                    background: #F5F5F5;
                    margin-bottom: rem(10);
                    height: 100%;
                    .best-img-pc {
                        display:none;
                    }
                    .fc-img {
                        width: rem(90);
                        object-fit: contain;
                        max-width: 100%;
                        height: unset;
                    }
                }
                .custom-wrap {
                    >small {
                        font-size: rem(12);
                    }
                    .best-img-mo {
                        display:inline-block;
                    }
                }
                .tit {
                    font-size: rem(14);
                    font-weight: 500;
                    margin-bottom: rem(10);
                }
                .txt-wrap {
                    margin-bottom: rem(20);
                    .ic-round {
                        width: rem(18);
                        height: rem(18);
                    }
                    .num {
                        font-size: rem(16);
                        font-weight: 600;
                    }
                }
            }
            .custom-wrap {
                display:flex;
                align-items: center;
                margin-bottom: rem(5);
                > small {
                    font-size: rem(12);
                    font-weight: bold;
                    color:#6D7683;
                    margin-right: rem(5);
                }
                .best-img-mo {
                    width: rem(54);
                    margin-bottom: rem(0);
                }
            }
        }
        .goods-btn {
            padding: rem(0) rem(29);
            height: rem(58);
            border: rem(2) solid #000;
            font-size: rem(16);
        }
    }
}