.fac-main {
    padding-top : rem(140) !important;
}

.slide-factory {
    position: relative;
    background: #444;
    opacity: 0.6;
    width: 100%;
    height: rem(630);
    opacity: 0.6;
    .swiper-wrapper {
        width: 100%;
        max-width: rem(1320);
        margin: 0 auto;
        .swiper-slide {
            width: rem(1320);
            padding: rem(0) rem(34);
            background: #444;
            display:flex;
            flex-direction: column;
            justify-content: center;
            .tit {
                font-size: rem(32);
                font-weight: bold;
                color:#fff;
                margin-bottom: rem(31);
            }
            .txt {
                font-size: rem(20);
                font-weight: 600;
                color:#fff;
                line-height: rem(30);
            }
        }
    }
    .swiper-pagination {
        display:none;
    }
    [class*='swiper-button'] {
        width: rem(50);
        height: rem(50);
    }
    .swiper-button-prev {
        background-image: url('../img/ic-video-left.png');
    }
    .swiper-button-next {
    background-image: url('../img/ic-video-right.png');
    }
}

#sectionfactoryshop {
    padding : rem(40) rem(40);
    .tit-wrap {
        margin-top: rem(80);
        .tit {
            font-size: rem(32);
            font-weight: 800;
            color:#1A1F27;
            margin-bottom: rem(41);
        }
    }
    .btn-wrap {
        margin-bottom: rem(20);
        .connect-btn {
            background-color: #FDE500;
        }
    }
    .total-wrap {
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: rem(10);
        .ic-wrap {
            display:flex;
            flex-direction: column;
            align-items: center;
            width: rem(200);
            height: rem(210);
            margin: rem(30) rem(68);
            [class*='ic-'] {
                position: relative;
                width: rem(170);
                height: rem(170);
                border: rem(4) solid #1A1F27;
                border-radius: rem(85);
            }
            .ic-coin {
                background-image: url('../img/FC-ic-coin.png');
                &::after {
                    position: absolute;
                    content: 'Step01';
                    font-size: rem(13);
                    font-weight: bold;
                    font-style: normal;
                    bottom:rem(-14);
                    left:rem(53);
                    border: rem(2) solid #1A1F27;
                    border-radius: rem(15);
                    background-color: #fff;
                    padding: rem(4) rem(6);
                }
            }
            .ic-market {
                background-image: url('../img/FC-ic-market.png');
                &::after {
                    position: absolute;
                    content: 'Step02';
                    font-size: rem(13);
                    font-weight: bold;
                    font-style: normal;
                    bottom:rem(-14);
                    left:rem(53);
                    border: rem(2) solid #1A1F27;
                    border-radius: rem(15);
                    background-color: #fff;
                    padding: rem(4) rem(6);
                }
            }
            .ic-point {
                background-image: url('../img/FC-ic-point.png');
                &::after {
                    position: absolute;
                    content: 'Step03';
                    font-size: rem(13);
                    font-weight: bold;
                    font-style: normal;
                    bottom:rem(-14);
                    left:rem(53);
                    border: rem(2) solid #1A1F27;
                    border-radius: rem(15);
                    background-color: #fff;
                    padding: rem(4) rem(6);
                }
            }
            .ic-credit {
                background-image: url('../img/FC-ic-credit.png');
                &::after {
                    position: absolute;
                    content: 'Step04';
                    font-size: rem(13);
                    font-weight: bold;
                    font-style: normal;
                    bottom:rem(-14);
                    left:rem(53);
                    border: rem(2) solid #1A1F27;
                    border-radius: rem(15);
                    background-color: #fff;
                    padding: rem(4) rem(6);
                }
            }
            .ic-delivery {
                background-image: url('../img/FC-ic-delivery.png');
                &::after {
                    position: absolute;
                    content: 'Step05';
                    font-size: rem(13);
                    font-weight: bold;
                    font-style: normal;
                    bottom:rem(-14);
                    left:rem(53);
                    border: rem(2) solid #1A1F27;
                    border-radius: rem(15);
                    background-color: #fff;
                    padding: rem(4) rem(6);
                }
            }
            .ic-gift {
                background-image: url('../img/FC-ic-gift.png');
                &::after {
                    position: absolute;
                    content: 'Step06';
                    font-size: rem(13);
                    font-weight: bold;
                    font-style: normal;
                    bottom:rem(-14);
                    left:rem(53);
                    border: rem(2) solid #1A1F27;
                    border-radius: rem(15);
                    background-color: #fff;
                    padding: rem(4) rem(6);
                }
            }
            .name {
                font-size: rem(18);
                font-weight: 600;
                margin-top: rem(23);
            }
        }
    }
}