* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modal-container {
    width: 100%;
    .popup-wrap {
        background-color: rgba(0,0,0, 0.95);
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        z-index: 1000;
        .galleryname-popup {
            width:rem(600);
            height:rem(600);
            background-color: #ffffff;
            border-radius: rem(30);
            overflow: hidden;
            box-shadow: rem(5) rem(10) rem(10) rem(1) rgba(0,0,0,.3);
            z-index: 20;
            .popup-content {
                padding: rem(30) rem(50);
                .popup-head {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .popup-txt1 {
                        font-size: rem(28);
                        font-weight: bold;
                        color: #1A1F27;
                    }
                    .pop-btn .close {
                        width: rem(32);
                        height: rem(32);
                        cursor: pointer;
                    }
                }
                .popup-txt2 {
                    margin-top : rem(8);
                    font-size: rem(22);
                    font-weight: bold;
                    margin-bottom : rem(30);
                    color: #1A1F27;
                }
            }
        }
    }
}