.sr-only {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
}

.inner {
	position: relative;
	max-width: rem(1320);
    height: 100%;
	margin: 0 auto;
	z-index: 10;
}

//wrap
#wrap {
    display: flex;
    height: 100%;
    flex-direction: column;
}

//header
#header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: rem(140);
	padding: 0 rem(40);
    background-color: #fff;
	z-index: 999;
    //gnb 영역
    #gnb {
        position: fixed;
        display: none;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        opacity: 0;
        z-index: -2;
        transition: all .4s ease-out;
        li:not(:last-child) {
            margin-bottom: rem(60);
        }
        a {
            display: block;
            color: #fff;
            font-size: rem(48);
            font-weight: 700;
        }
    }
    &.is-shadow {
        box-shadow: 0 rem(5) rem(10) #00000014;
    }
    &.is-bg-transparent {
        background-color: transparent;
    }
    .header-inner {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: rem(1320);
        .menu-list {
            display:flex;
            align-items: center;
            margin-right: auto;
            .menu-ef-btn {
                position: relative;
                cursor: pointer;
                white-space: nowrap;
                padding:0 rem(19.5);
                font-size: rem(15);
                font-weight: 600;
            &:nth-of-type(1) {
                &.is-open {
                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        width: 76%;
                        height: rem(6);
                        background-color: #FDE500;
                        transform: translateY(-50%);
                        z-index: -1;
                    }
                }
            }
                .ef-list {
                    display:none;
                    position: absolute;
                    flex-direction: column;
                    justify-content: center;
                    width: rem(170);
                    height: rem(230);
                    background: #FFFFFF;
                    border: rem(2) solid #1A1F27;
                    border-radius: rem(10);
                    padding-left: rem(20);
                    top: 250%;
                    left: 0;
                    &.is-open {
                        display: flex;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        border-style: solid;
                        border-width: 0 16px 20px 17.5px;
                        border-color: #FFF transparent;
                        display: block;
                        width: 0;
                        z-index: 1;
                        top: rem(-20); 
                        right: rem(65); 
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        border-style: solid;
                        border-width: 0 16px 20px 17.5px;
                        border-color: #1A1F27 transparent;
                        display: block;
                        width: 0;
                        z-index: 0;
                        top: rem(-21.5); 
                        right: rem(65); 
                    }
                    > li {
                        padding:rem(15) 0;
                        > a {
                            font-size: rem(15);
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .menu-etc {
            display:flex;
            align-items: center;
            justify-content: center;
            .btn-mypage {
                margin-right: 0;
            }
        }

        .lang-wrap {
            border-radius: rem(22);
            margin-right: rem(40);
            .lang-txt {
                padding: rem(8) rem(18);
                font-size: rem(17);
                font-weight: bold;
            }
        }
        .header-side-sns {
            position: relative;
            margin-right: rem(30);
            .header-side-snsa {
                &:focus img{
                    border: 2px solid #000;
                    border-radius: 50%;
                }
                > img {
                    width: rem(40);
                    height: rem(40);
                }
            }
        }
    }
    .logo {
        position: relative;
        margin-right: rem(77);
        a {
            display: block;
            width: rem(110);
            height: rem(74);
            background: url("../img/Logo_Endorphin.png") no-repeat center / cover;
        }

    }
    .lang-choice {
        margin-right: rem(26);
        .btn-lang {
            position: relative;
            .lang-list {
                display:none;
                position: absolute;
                flex-direction: column;
                align-items:flex-start;
                justify-content: center;
                width: rem(170);
                height: rem(80);
                background: #FFFFFF;
                border: rem(2) solid #1A1F27;
                border-radius: rem(10);
                padding-left: rem(20);
                top: 150%;
                left:-77%;
                > li {
                    font-size: rem(16);
                    font-weight: 600;
                    margin: rem(5) 0;
                }
                &.is-open {
                    display: flex;
                }
                &:after {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    border-width: 0 16px 20px 17.5px;
                    border-color: #FFF transparent;
                    display: block;
                    width: 0;
                    z-index: 1;
                    top: rem(-20); 
                    right: rem(65); 
                }
                &:before {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    border-width: 0 16px 20px 17.5px;
                    border-color: #1A1F27 transparent;
                    display: block;
                    width: 0;
                    z-index: 0;
                    top: rem(-21.5); 
                    right: rem(65); 
                }
            }
        }
    }
    .link-choice {
        position: relative;
        margin-right: rem(26);
        .sns-link-btn {
            transition: none;
            border: rem(2) solid #fff;
            border-radius: rem(22);
            &.is-open {
                background: #FFFFFF;
                box-shadow: rem(0) rem(4) rem(8) #00000014;
                border: rem(2) solid #1A1F27;
                border-radius: rem(22);
            }
            .ic {
                pointer-events: none;
            }
        }
        .link-list {
            display: none;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            width: rem(169);
            height: rem(269);
            background: #FFFFFF;
            border: rem(2) solid #1A1F27;
            border-radius: rem(10);
            top: 150%;
            left: -145%;
            z-index: 1000;
            &.is-open {
                display:flex;
            }
            &:after {
                content: '';
                position: absolute;
                border-style: solid;
                border-width: 0 16px 20px 17.5px;
                border-color: #FFF transparent;
                display: block;
                width: 0;
                z-index: 1;
                top: rem(-20); 
                right: rem(65); 
            }
            &:before {
                content: '';
                position: absolute;
                border-style: solid;
                border-width: 0 16px 20px 17.5px;
                border-color: #1A1F27 transparent;
                display: block;
                width: 0;
                z-index: 0;
                top: rem(-21.5); 
                right: rem(65); 
            }

            >li {
                display:flex;
                margin-left: rem(27);
                align-items: center;
                margin-top : rem(3);
                > a {
                    display: inline-flex;
                    align-items: center;
                    font-size: rem(17);
                    font-weight: 600;
                    padding:rem(10) 0;
                }
            }


        }   
    }
    .btn-cart {
        position: relative;
        width: 100%;
        margin-right:rem(34);
        .ic-cart {
            width: rem(28);
            height: rem(28);
            background-image: url("../img/ic-cart.png");
        }
        .num {
            position: absolute;
            display:inline-flex;
            justify-content: center;
            align-items: center;
            width: rem(19);
            height: rem(19);
            color: #FFFFFF;
            border-radius: 100%;
            background: #B153FF;
            font-size: rem(19);
            font-weight: 500;
            top:rem(-6);
            right:rem(-8);
        }
    }
}


//container
#container {
    flex-grow: 1;
	padding-top: rem(100);
    &.bg-white {
        background-color: #fff;
    } //white
    &.bg-light {
        background-color: #f7f7f7;
    } //light gray
    &.bg-sky {
        background-color: #a4f2f8;
    } //sky blue
    &.pd-none {
        padding-top: 0;
    }
}


//footer
#footer{
    position: relative;
    width: 100%;
	height: rem(167);
	padding: 0 rem(40);
    background-color: #fff;
    .inner {
        padding: rem(40) 0;
    }
    .logo {
        margin-bottom: rem(20);
        a {
            display: block;
            width: rem(120);
            height: rem(50);
            background: url("../img/footer-logo.png") no-repeat center / cover;
        }
    }
    .copyright {
        display: inline-block;
        margin-right: rem(46);
        font-size: rem(13);
        font-weight: 500;
    }
    .txt-link {
        display: inline-block;
        font-size: rem(13);
        font-weight: 500;
        text-decoration: underline;
    }
    // &.main-footer {
    //     position:relative;
    //     bottom: 0;
    //     z-index: 10;
    //     transform: translateY(100%);
    // }
    // &.is-fixed {
    //     transform: translateY(0);
    //     &:after {
    //         transform: translate(-50%, 0);
    //     }
    // }

    .obj-rail {
        position: absolute;
        top:auto;
        bottom:0;
        left:50%;
        transform: translateX(-50%);
        display: inline-block;
        width: 100%;
        height: rem(235);
        background: url("../img/obj-rail.png") no-repeat right;
    }
    
}

// section {
//     min-height: rem(800);
// }

.title-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: rem(270);
    text-align: center;
    .disc {
        margin: rem(36) 0 rem(16);
        color: #1a1f27;
        font-size: rem(24);
        font-weight: 600;
    }
    .tit {
        color: #1a1f27;
        font-size: rem(54);
        font-weight: 700;
    }
    .txt {
        position: absolute;
        top: rem(195);
        color: #000;
        font-size: rem(18);
        font-weight: 500;
        line-height: 1.5;
    }
    .btn {
        position: absolute;
        top: rem(180);
    }
}

.contents {
    display: flex;
    flex-direction: column;
    height: 100%;
    .cont-body {
        flex-grow: 1;
        .inner {
            padding: rem(50) 0 rem(100);
        }
    }
    &.cont-bg-type1 {
        .cont-head {
            background-color: #f7f7f7;
        }
    }
    &.cont-bg-type2 {
        .cont-body {
            .inner {
                padding: rem(100) rem(112);
                background-color: #fff;
            }
        }
    }
}

.btn-gnb {
    display:none;
}

#gnb {
    display:none;
}

@media (min-width: 1921px) {
    #footer.main-footer:after {
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    #header {
        width: 100%;
        padding: 0;
        &.is-gnb {
            .inner {
                position: unset;
                &:before {
                    opacity: 1;
                    z-index: 9998;
                    transform: translateY(0);
                }
            }
            .logo {
                z-index: 9999;
                a {
                    background: url("../img/Logo_Endorphin-white.png") no-repeat center / cover;
                }
            }
            #gnb {
                opacity: 1;
                z-index: 9999;
                ul {
                    transform: translateY(0);
                }
            }
        }
    }
    #header .header-inner {
        padding: 0;
        width: 100%;
        max-width: unset;
        padding : 0 rem(24);
    }
    .menu-list {
        display:none;
    }
    #header .logo {
        margin-right: auto;
    }
    #header .header-inner .menu-list {
        display:none;
    }
    .btn-mypage {
        display:none;
    }
    #header .lang-choice {
        display:none;
    }
    #header .btn-cart {
        width: rem(28);
        height: rem(28);
        margin-right: rem(30);
    }
    #header .btn-cart .ic-cart {
        width: rem(19);
        height: rem(19);
    }
    #header .btn-cart .num {
        right: rem(1);
    }
    #header .link-choice .sns-link-btn {
        width: 100%;
        max-width: rem(40);
        height: rem(40);
    }
    #header .link-choice .sns-link-btn .ic {
        width: rem(36);
        height: rem(36);
    }
    #header .link-choice .link-list {
        left : -159%;
    }
    #header .inner:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.9);
        transform: translateY(-100%);
        opacity: 0;
        z-index: -1;
        transition: all 0.4s ease-out;
    }
    #header #gnb {
        width: 100%;
        padding: 0 2%;
        top:18%;
        left:52%;
        transform: translateX(-50%);
        &.is-gnb {
            display:block;
        }
    }
    #header.is-gnb #gnb ul {
        width: 100%;
    }

    .btn-gnb {
        display:inline-block;
    }
    #header.is-gnb .inner:before {
        opacity: 1;
        z-index: 9998;
        transform: translateY(0);
    }
    #gnb .btn-gnb-close {
        width: rem(32);
        height: rem(32);
        margin-top : -4%;
        margin-right: 2%;
    }

    #gnb .ic-gnb-close {
        width: 100%;
        height: 100%;
    }
    #header #gnb li{
        text-align: left;
        margin-bottom: rem(30);
    }

    #header #gnb li .txt{
        font-size: rem(20);
        font-weight: bold;
        color:#FFF;
    }
    #header #gnb-first {
        position: relative;
        cursor: pointer;
    }
    
    #header #gnb-first::after {
        content: '';
        cursor: pointer;
        position: absolute;
        width: rem(16);
        height: rem(16);
        margin-left: 2%;
        background-image: url("../img/ic_gnbdown.png");
    }
    #header .gnb-ef-list {
        display:none;
        &.is-open {
            display:block;
        }
    }

    #header .gnb-ef-list li {
        margin: rem(20) 0;
        margin-bottom: rem(5)!important;
        a {
            font-size: rem(15) !important; 
            font-weight: 500;
            opacity: 0.6;
        }
    }
    
    #header #gnb .gnb-etc-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top : 9%;
    }

    #header #gnb .btn-mypage {
        display:inline-flex;
        background: #000;
        font-size: rem(17);
        border: rem(2) solid #FFFFFF;
        margin-right:4%;
        .ic-gem {
            background-image: url("../img/ic_gem_white.svg");
        }
    }
    
    #header #gnb .gnb-lang-choice {
        display: inline-flex;
        border: rem(2) solid #FFFFFF;
        border-radius: 22px;
        background: #fff;
        font-size: rem(17);
        font-weight: 600;
        height: 100%;
    }
    
}