
//mypage popup
.modal-container {
    width: 100%;
    .pop-wrap {
        background-color: rgba(0,0,0, 0.75);
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        z-index:2000;
    }
}

.mypagepop {
    width: 100%;
    max-width: rem(400);
    height: rem(100);
    background-color: #ffffff;
    border-radius: rem(30);
    overflow: hidden;
    box-shadow: rem(5) rem(10) rem(10) rem(1) rgba(0,0,0,.3);
    .pop-cont {
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .pop-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .pop-txt {
                font-size: rem(28);
                font-weight: bold;
                margin-right: rem(20);
                color: #1A1F27;
            }
            .pop-close-btn {
                width: rem(32);
                height: rem(32);
                background-image: url("../img/ic-popup-close-black.png");
                cursor: pointer;
            }
        }
    }
    
}

//story popup

.modal-container {
    width: 100%;
    .pop-wrap {
        background-color: rgba(0,0,0, 0.75);
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        z-index:2000;
    }
}

.storypop {
    position: relative;
    width: 100%;
    max-width: rem(1072);
    height: rem(685);
    background-color: #ffffff;
    border-radius: rem(30);
    box-shadow: rem(5) rem(10) rem(10) rem(1) rgba(0,0,0,.3);
    .pop-cont {
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        padding: rem(30) rem(40) rem(63) rem(46);
        .pop-head {
            display: flex;
            justify-content: space-between;
            .pop-tit {
                font-size: rem(28);
                font-weight: bold;
                margin-right: rem(20);
                color: #1A1F27;
                > p {
                    font-weight: bold;
                    line-height: rem(40);
                }
            }
            .pop-close-btn {
                width: rem(32);
                height: rem(32);
                background-image: url("../img/ic-popup-close-black.png");
                cursor: pointer;
            }
        }
    }
}

.slide-storypop {
    margin-top : rem(43);
    .swiper-container-horizontal > .swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction {
        position: absolute;
        bottom: rem(150);
        left:rem(-110);
        width: 100%;
        [class*='swiper-pagination-bullet'] {
            width: rem(32);
            height: rem(32);
            line-height: rem(28);
            font-size: rem(12);
            font-weight: bold;
            color:#CCC;
            background: #fff;
            border: rem(2) solid #CCCCCC;
            border-radius: rem(16);
            &.swiper-pagination-bullet-active {
                color:#fff;
                background: #000;
              }
        }
    }
    .swiper-button-prev {
        width: rem(50);
        left: rem(-80);
    }
    .swiper-button-next {
        width: rem(50);
        right: rem(-80);
    }
    .swiper-button-disabled {
        opacity: 0;
    }
    .swiper-button-disabled {
        opacity: 0;
    }
}

.storypop-slide {
    display:flex;
    flex-direction: column;
    background: #ffffff;
    .tit {
        font-size: rem(24);
        font-weight: bold;
        color:#1A1F27;
        margin-bottom: rem(17);
    }
    .storypop-cont {
        display: flex;

        [class*='obj-storypop'] {
            border : rem(3.5) solid #000;
            width: rem(440);
            height: rem(310);
            object-fit: cover;
            margin-right:rem(46);
        }
        .obj-storypop-1 {
            background-image: url(../img/obj-storypop-bg1.png);
        }
        .obj-storypop-2 {
            background-image: url(../img/obj-storypop-bg2.png);
        }
        .obj-storypop-3 {
            background-image: url(../img/obj-storypop-bg3.png);
        }
        .tit-mo {
            display:none;
        }
        .txt {
            overflow-y: auto;
            width: 100%;
            max-width: rem(490);
            height: rem(424);
            font-size: rem(15);
            font-weight: 500;
            color:#1A1F27;
            line-height: rem(30);
        }
        
    }
}

//unique popup
.modal-container {
    width: 100%;
    .pop-wrap {
        background-color: rgba(0,0,0, 0.75);
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        z-index:2000;
    }
}

.uniquepop {
    width: 100%;
    max-width: rem(423);
    height: rem(710);
    background-color: #ffffff;
    border-radius: rem(30);
    overflow: hidden;
    box-shadow: rem(5) rem(10) rem(10) rem(1) rgba(0,0,0,.3);
    .pop-cont {
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        padding: rem(38) rem(53) rem(50) rem(50);
        .pop-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .pop-txt {
                font-size: rem(28);
                font-weight: bold;
                margin-right: rem(44);
                color: #1A1F27;
            }
            .pop-close-btn {
                width: rem(32);
                height: rem(32);
                background-image: url("../img/ic-popup-close-black.png");
                cursor: pointer;
            }
        }
        .thumb {
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            margin-top: rem(27);
            margin-left: rem(5);
            margin-bottom: rem(30);
            > img {
                position: absolute;
                border : rem(5) solid #000;
                width: rem(312);
                height: rem(312);
                object-fit: cover;
                max-width: 100%;
            }
        }
        .info-wrap {
            overflow-y: auto;
            > dt {
                font-size: rem(24);
                font-weight: bold;
                color:#1A1F27;
                margin-bottom:rem(5);
            }
            > dd {
                font-size: rem(24);
                font-weight: 500;
                color:#1A1F27;
                margin-bottom:rem(30);
            }
            .txt {
                font-size: rem(16);
                font-weight: 500;
                color:#1A1F27;
                line-height: rem(25);
                overflow-y: auto;
            }
        }
    }
}

//DADA artist popup
.modal-container {
    width: 100%;
    .pop-wrap {
        background-color: rgba(0,0,0, 0.75);
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        z-index:2000;
    }
}

.dadaArtistpop {
    width: 100%;
    max-width: rem(423);
    height: rem(779);
    background-color: #ffffff;
    border-radius: rem(30);
    overflow: hidden;
    box-shadow: rem(5) rem(10) rem(10) rem(1) rgba(0,0,0,.3);
    .pop-cont {
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        padding: rem(38) rem(53) rem(50) rem(50);
        .pop-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .pop-txt {
                font-size: rem(28);
                font-weight: bold;
                margin-right: rem(125);
                color: #1A1F27;
            }
            .pop-close-btn {
                width: rem(32);
                height: rem(32);
                background-image: url("../img/ic-popup-close-black.png");
                cursor: pointer;
            }
        }
        .thumb {
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            margin-top: rem(27);
            margin-left: rem(5);
            margin-bottom: rem(10);
            > img {
                position: absolute;
                border : rem(5) solid #000;
                width: rem(312);
                height: rem(312);
                object-fit: cover;
                max-width: 100%;
            }
        }
        .sns-wrap {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: rem(30);
            > li {
                padding: 0 rem(5);
            }
        }

        .info-wrap {
            overflow-y: auto;
            > dt:nth-of-type(1) {
                font-size: rem(20);
                font-weight: bold;
                color:#1A1F27;
                margin-bottom:rem(10);
            }
            > dd:nth-of-type(1) {
                font-size: rem(16);
                font-weight: 500;
                color:#1A1F27;
                margin-bottom:rem(30);
                line-height: rem(25);
            }
            .txt {
                font-size: rem(16);
                font-weight: 500;
                color:#1A1F27;
                line-height: rem(25);
            }
            > dt:nth-of-type(2) {
                font-size: rem(16);
                font-weight: bold;
                color:#1A1F27;
                margin-bottom:rem(10);
            }
            > dd:nth-of-type(2) {
                font-size: rem(14);
                font-weight: 500;
                color:#1A1F27;
                line-height: rem(25);
            }
        }
    }
    
}


//mypage popup
.modal-container {
    width: 100%;
    .pop-wrap {
        background-color: rgba(0,0,0, 0.75);
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        z-index:2000;
    }
}

//info-popup
.infopop {
    width: 100%;
    max-width: rem(400);
    height: rem(300);
    background-color: #ffffff;
    border-radius: rem(30);
    overflow: hidden;
    box-shadow: rem(5) rem(10) rem(10) rem(1) rgba(0,0,0,.3);
    .pop-cont {
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .pop-head {
            display: flex;
            align-items: center;
            flex-direction: column;
            .pop-txt {
                font-size: rem(28);
                font-weight: bold;
                color: #1A1F27;
                margin-bottom: rem(50);
            }
            .pop-close-btn {
                font-size: rem(28);
                cursor: pointer;
                padding:rem(20) rem(30);
                color:#fff;
                border-radius: rem(30);
                background: rgb(71, 71, 241);
            }
        }
    }
}

//unique popup
.modal-container {
    width: 100%;
    .pop-wrap {
        background-color: rgba(0,0,0, 0.75);
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        z-index:2000;
    }
}

//galname popup
.galnamepop {
    width: 100%;
    max-width: rem(500);
    height: rem(849);
    background-color: #ffffff;
    border-radius: rem(30);
    overflow: hidden;
    box-shadow: rem(5) rem(10) rem(10) rem(1) rgba(0,0,0,.3);
    .pop-cont {
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        padding: rem(38) rem(53) rem(50) rem(50);
        .pop-head {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: rem(27);
            .pop-txt {
                font-size: rem(28);
                font-weight: bold;
                margin-right: auto;
                color: #1A1F27;
            }
            .pop-close-btn {
                width: rem(48);
                height: rem(48);
                background-image: url("../img/ic-popup-close-black.png");
                cursor: pointer;
            }
        }
        .txt {
            font-size: rem(20);
            font-weight: bold;
            line-height: rem(27);
        }
        .thumb {
            position: relative;
            width: rem(312);
            height: rem(312);
            margin : rem(30) auto;
            > img {
                position: absolute;
                border : rem(5) solid #000;
                width: 100%;
                height: 100%;
                object-fit: cover;
                max-width: 100%;
            }
        }
        .input-wrap {
            display:flex;
            width: rem(312);
            margin: 0 rem(44) rem(30) rem(44);
            padding-bottom: rem(17);
            border-bottom: rem(2) solid #000;
            .ic-pen {
                width: rem(24);
                height: rem(24);
                background-image: url('../img/ic-pen.png');
            }
            > input {
                width: calc(100% - 24px);
                font-size : rem(22);
                font-weight: 600;
                color: #1A1F27;
                margin-left: rem(5);
            }
        }
        .notice {
            font-size: rem(14);
            font-weight: bold;
            color:#1A1F27;
            margin-bottom: rem(10);
        }
        .no-txt {
            font-size: rem(14);
            font-weight: 500;
            color: #1A1F27;
            margin-bottom: rem(5);
            opacity: 0.7;
        }
        .btn-wrap {
            width: 100%;
            display:flex;
            justify-content: center;
            margin-top: rem(30);
        }
    }
}

//gal-goods-popup
.galgoodspop {
    width: 100%;
    max-width: rem(972);
    height: rem(751);
    background-color: #ffffff;
    border-radius: rem(30);
    overflow: hidden;
    box-shadow: rem(5) rem(10) rem(10) rem(1) rgba(0,0,0,.3);
    .pop-cont {
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        padding: rem(38) rem(53) rem(50) rem(50);
        .pop-head {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: rem(27);
            .pop-txt {
                font-size: rem(28);
                font-weight: bold;
                margin-right: auto;
                color: #1A1F27;
            }
            .pop-close-btn {
                width: rem(48);
                height: rem(48);
                background-image: url("../img/ic-popup-close-black.png");
                cursor: pointer;
            }
        }
        .pop-center {
            width: 100%;
            display:flex;
            justify-content: space-between;
            align-items: center;
            .thumb {
                position: relative;
                width: rem(312);
                height: rem(312);
                > img {
                    position: absolute;
                    border : rem(5) solid #000;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    max-width: 100%;
                }
            }
            .cont-wrap {
                width: rem(500);
                height: rem(314);
                .ic-open {
                    width: rem(32);
                    height: rem(32);
                    background-image: url('../img/ic-open.png');
                    margin-right: rem(10);
                    margin-bottom: rem(10);
                }
                .ic-round {
                    width: rem(32);
                    height: rem(32);
                    background-image: url('../img/ic-round.png');
                    margin-right: rem(10);
                    margin-bottom: rem(10);
                }
                .tit {
                    font-size: rem(24);
                    font-weight: bold;
                    color:#1A1F27;
                    margin-bottom: rem(26);
                }
                .dtdd-wrap {
                    display:flex;
                    align-items: center;
                    .dt {
                        font-size: rem(14);
                        font-weight: 400;
                        color:#8D95A0;
                        margin: rem(6.5) rem(14) rem(6.5) 0;
                    }
                    .dd {
                        font-weight: 500;
                        color:#1A1F27;
                    }
                    &:nth-of-type(4) {
                        margin-bottom: rem(32);
                    }
                }
                > hr {
                    color: #E6E8EB;
                    margin-bottom: rem(20);
                }

                .txt {
                    display:block;
                    width: rem(497);
                    font-weight: 400;
                    color:#1A1F27;
                    line-height: rem(27);
                    overflow-y: auto;
                    height: rem(54);
                }
            }
        }
        > small {
            font-weight: bold;
            color:#1A1F27;
            margin-top: rem(52);
            margin-bottom : rem(20);
        }
        .proper-wrap {
            display:flex;
            flex-wrap: wrap;
            width: rem(896);
            text-align: left;
            margin: rem(0) auto;
            .item-tit {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: rem(140);
                height: rem(85);
                font-size: rem(13);
                font-weight: 500;
                background: #FFFFFF;
                border: rem(2) solid #1B1F26;
                border-radius: rem(10);
                margin: rem(0) rem(10) rem(10) 0;
                .item-txt {
                    font-size: rem(20);
                    font-weight: bold;
                }
            }

        }
    }
}

@media (max-width: 1024px) {
    //storypop mo
    .storypop {
        max-width: unset;
        border-radius: unset;
        height:100%;
        max-width: unset;
        .pop-cont {
            padding: rem(38) rem(24);
            .pop-head {
                align-items: center;
                .pop-tit {
                    font-size: rem(20);
                    font-weight: bold;
                    .tit-mo-none {
                        display:none;
                    }
                }
            }
        }
        .storypop-slide {
            width: 100%;
            .tit {
                display:none;
            }
        }
        .storypop-cont {
            flex-direction: column;
            align-items: center;

            .obj-storypop-1 {
                width: 100%;
                min-width: rem(342);
                height:rem(243);
                border: rem(4) solid #000;
                background-size: 100% 100%;
                margin-right: unset;
            }
            .obj-storypop-2 {
                width: 100%;
                min-width: rem(342);
                height:rem(243);
                border: rem(4) solid #000;
                background-size: 100% 100%;
                margin-right: unset;
            }
            .obj-storypop-3 {
                width: 100%;
                min-width: rem(342);
                height:rem(243);
                border: rem(4) solid #000;
                background-size: 100% 100%;
                margin-right: unset;
            }
            .tit-mo {
                display:block;
                text-align: left;
                width: 100%;
                font-size : rem(22);
                font-weight: bold;
                margin-top:rem(78);
            }
            .txt {
                max-width: unset;
                height: 100%;
                max-height: rem(154);
                text-align: left;
                margin-top : rem(20);
                line-height: rem(27);
                padding: 0 rem(6);
                > br {
                    display: none;
                }
            }
        }
        .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
            position: relative;
            bottom: 51%;
        }
    }

    //uniquepop mo
    .uniquepop {
        max-width: unset;
        border-radius: unset;
        height:100%;
        max-width: unset;
        .pop-cont {
                padding: rem(38) rem(24);
            .pop-head {
                justify-content: center;
                width: 100%;
                margin-bottom: rem(58);
                .pop-txt {
                    font-size: rem(20);
                    font-weight: bold;
                    margin-right: auto;
                }
            }
            .thumb {
                width: 100%;
                min-width: rem(342);
                height: rem(342);
                padding: unset;
                margin :unset;
                > img {
                width: 100%;
                height: 100%;
                border : rem(4) solid #000;
                }
            }
            .info-wrap {
                width: 100%;
                dt {
                    font-size : rem(20);
                    margin-top : rem(20);
                }
                dd {
                   font-size: rem(16); 
                   font-weight: 400;
                }
                .txt {
                    height: 100%;
                    max-height: rem(154);
                    line-height: rem(27);
                    padding: 0 rem(6);
                    > br {
                        display: none;
                    }
                }
            }
        }
    }


    //dadaArtist mo
    .dadaArtistpop {
        max-width: unset;
        border-radius: unset;
        height:100%;
        max-width: unset;
        .pop-cont {
            padding: rem(38) rem(24);
        .pop-head {
            justify-content: center;
            width: 100%;
            margin-bottom: rem(58);
            .pop-txt {
                font-size: rem(20);
                font-weight: bold;
                margin-right: auto;
            }
        }
        .thumb {
            width: 100%;
            min-width: rem(342);
            height: rem(342);
            padding: unset;
            margin :unset;
            > img {
            width: 100%;
            height: 100%;
            border : rem(4) solid #000;
            }
        }
        .sns-wrap {
            margin-top : rem(30);
        }

        .info-wrap {
            width: 100%;
            dt {
                font-size : rem(20);
                margin-top : rem(20);
            }
            dd {
               font-size: rem(16); 
               font-weight: 400;
            }
            .txt {
                height: 100%;
                max-height: rem(154);
                line-height: rem(27);
                padding: 0 rem(6);
                > br {
                    display: none;
                }
            }
        }
        }
    }
    //filter pop
    .filter-pop-wrap {
        background-color: #fff !important;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        .filterpop {
            width: 100%;
            height: 100%;
            overflow: hidden;
            box-shadow: rem(5) rem(10) rem(10) rem(1) rgba(0,0,0,.3);
            display:flex;
            flex-direction: column;
            .pop-head {
                width: 100%;
                height: rem(100);
                display: flex;
                align-items: center;
                padding: rem(38) rem(24);
                .pop-txt {
                    font-size: rem(20);
                    font-weight: bold;
                    margin-right: auto;
                    color: #1A1F27;
                }
                .pop-close-btn {
                    width: rem(32);
                    height: rem(32);
                    background-image: url("../img/ic-popup-close-black.png");
                    cursor: pointer;
                }
            }
            .filter-cont {
                overflow-y: auto;
                padding: rem(0) rem(34) rem(0) rem(34);
                .tit {
                    position: relative;
                    display:inline-flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    height: rem(48);
                    font-size: rem(16);
                    font-weight: bold;
                    color:#1A1F27;
                    margin-bottom: rem(11);
                    padding: rem(0) rem(12);
                    &:hover {
                        background: #fff;
                        border-radius: rem(10);
                    }
                    &::after {
                        position: absolute;
                        content :'';
                        cursor: pointer;
                        width: rem(24);
                        height: rem(24);
                        right: 0;
                        bottom: rem(11);
                        background-image: url("../img/ic_input_Chevron.png");
                        background-repeat: no-repeat;   
                    }
                    &.is-close {
                        + .list-wrap {
                            display:none;
                        }
                        &::after {
                            transform: rotate(180deg);
                        }
                    } 
                    .num {
                        font-size: rem(16);
                        font-weight: 500;
                        color: #2F84FF;
                        margin-left: auto;
                        margin-right: rem(30);
                    }
                }
                .list-wrap {
                    overflow-y: scroll;
                    padding: 0 rem(4);
                    .list {
                        display:flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: rem(2) 0;
                        height: rem(48);
                        padding: rem(0) rem(10);
                        &:hover {
                            background: #fff;
                            border-radius: rem(10);
                        }
                        > label {
                            font-weight: 500;
                            color:#505967;
                        }
                        > input {
                            width: rem(24);
                            height: rem(24);
                        }
                    }
                }
                .artist-list-wrap {
                    height: rem(163);
                    overflow-y: scroll;
                }
            }
            .btn-wrap {
                display: flex;
                justify-content: center;
                margin-top: rem(31);
                .galfilter-more-btn {
                    width: rem(177);
                    height: rem(58);
                    border: rem(2) solid #000;
                    font-size: rem(16);
                    font-weight: bold;
                    .ic-gem {
                        width: rem(19);
                        height: rem(25);
                    }
                }
            }
            
        }
    }
//galname popup
.galnamepop {
    max-width: unset;
    border-radius: unset;
    height:100%;
    max-width: unset;
        .pop-cont {
        overflow-y: auto;
            .pop-head {
                margin-bottom: rem(38);
                .pop-txt {
                    font-size: rem(20);
                }
                .pop-close-btn {
                    width: rem(32);
                    height: rem(32);
                }
            }
            .txt {
                font-size: rem(16);
            }
            .thumb {
                position: relative;
                width: 100%;
                padding-bottom: 100%;
                margin : rem(30) auto;
                height: unset;
                > img {
                    position: absolute;
                    border : rem(5) solid #000;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    max-width: 100%;
                }
            }
            .input-wrap {
                width: 100%;
                margin: rem(0) auto rem(40);
                > input {
                    font-size : rem(22);
                }
            }
            .btn-wrap {
                .galname-more-btn {
                    height: rem(58);
                    border : rem(2) solid #000;
                    font-size: rem(16);
                }
            }
        }
    }
    //galgoodspop
    .galgoodspop {
        max-width: unset;
        border-radius: unset;
        height:100%;
        max-width: unset;
        .pop-cont {
            overflow-y: auto;
            .pop-head {
                margin-bottom: rem(38);
                .pop-txt {
                    font-size: rem(20);
                }
                .pop-close-btn {
                    width: rem(32);
                    height: rem(32);
                }
            }
            .pop-center {
                flex-direction: column;
                .thumb {
                    position: relative;
                    width: 100%;
                    padding-bottom: 100%;
                    > img {
                        position: absolute;
                        border : rem(5) solid #000;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        max-width: 100%;
                    }
                }
                .cont-wrap {
                    width: 100%;
                    height: unset;
                    margin-top: rem(50);
                    .tit {
                        font-size: rem(20);
                    }
                    .dtdd-wrap {
                        display:flex;
                        align-items: center;
                        .dt {
                            font-size: rem(14);
                            font-weight: bold;
                        }
                        .dd {
                            font-weight: 500;
                        }
                        &:nth-of-type(4) {
                            margin-bottom: rem(32);
                        }
                    }
                    .txt {
                        width: 100%;
                        overflow-y: unset;
                        height: unset;
                    }
                }
            }
            .proper-wrap {
                width: 100%;
                height: 100%;
                display:grid;
                grid-template-columns: repeat(auto-fit, minmax(140px, max-content));
                grid-gap: rem(10);
                justify-content: center;
                align-items: center;
                .item-tit {
                    width: 100%;
                    height: rem(60);
                    font-size: rem(13);
                    font-weight: 400;
                    height: unset;
                    text-align: center;
                    padding: rem(8) 0;
                    .item-txt {
                        margin-top: rem(6);
                        font-size: rem(16);
                    }
                }
    
            }
        }
    }
}
