.shadow {
    box-shadow: 0 5px 10px #00000014;
}
#sectionRoadmap {
    background-color: #F4F4F4;
    .contents {
        margin-bottom: rem(50);
        .tit {
            font-size: rem(56);
            font-weight: bold;
            color: #1A1F27;
            margin-bottom: rem(31);
        }
        .dt {
            font-size: rem(18);
            font-weight: 500;
            margin-bottom:rem(40);
        }
        .roadmap-wrap {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            [class*='roadmap-list'] {
                position: relative;
                width: rem(612);
                height: rem(612);
                background: #fff;
                border: rem(4) solid #000000;
                border-radius: rem(30);
                padding: rem(35) rem(30) rem(35) rem(50);
                margin: rem(24);
                z-index: 3;
                &.is-check {
                    background-color: #FFFD5D;
                }
                .list-wrap {
                    width: 100%;
                    height: 100%;
                    overflow-y: auto;
                    &::-webkit-scrollbar {
                        border-radius: rem(20);
                        background-color: #fff;
                        z-index: 5;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: rem(20);
                        background-color: rgb(227, 221, 221);
                        z-index: 5;
                    }
                }
                .dd {
                    font-size: rem(18);
                    font-weight: bold;
                    text-align: left;
                    margin-bottom: rem(10);
                }
                .tit {
                    font-size: rem(40);
                    font-weight: bold;
                    text-align: left;
                    margin-bottom: rem(31);
                }
                .txt-wrap {
                    display:flex;
                    align-items: center;
                    width: rem(448);
                    margin-bottom:rem(20);
                    .ic-check {
                        display: inline-block;
                        width: rem(40);
                        height: rem(40);
                        object-fit: cover;
                        margin-right:rem(20);
                    }
                    .ic-blank {
                        display: inline-block;
                        width: rem(40);
                        height: rem(40);
                        object-fit: cover;
                        margin-right:rem(20);
                    }
                    .txt {
                        display:inline-block;
                        font-size: rem(24);
                        font-weight: bold;
                        text-align: left;
                    }
                }
                .thumb {
                    position: absolute;
                    width: 90%;
                    height:rem(400);
                    top: 22%;
                    left:0;
                    overflow: hidden;
                    .obj-roadmap-complete {
                        display: inline-block;
                        object-fit: cover;
                        width: rem(467);
                        height: rem(400);
                        z-index: 4;
                    }
                    .obj-roadmap-mo-complete {
                        display: none;
                    }
                }
            }
        }
    }
    .bg-group-gem {
        background-color: #F4F4F4;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        overflow: hidden;
        [class*='obj-gem-'] {
            width: rem(40);
            height: rem(50);
            background-image: url("../img/ic_gem.svg");
            background-size: cover;
            left: 50%;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            transform: translateX(-50%);
        }
        .obj-gem-l1 {
            position: absolute;
            top: rem(350);
            margin-left: rem(-609);
            width: rem(25);
            height: rem(33);
        }
        .obj-gem-l2 {
            position: absolute;
            top: rem(477);
            margin-left: rem(-755);
            width: rem(36);
            height: rem(48);
        }
        .obj-gem-l3 {
            position: absolute;
            top: rem(308);
            margin-left: rem(-905);
            width: rem(31);
            height: rem(40.5);
        }
        .obj-gem-r1 {
            position: absolute;
            top: rem(503);
            margin-left: rem(659);
            width: rem(30);
            height: rem(40);
        }
        .obj-gem-r2 {
            position: absolute;
            top: rem(355);
            margin-left: rem(788);
            width: rem(36);
            height: rem(48);
        }
        .obj-gem-r3 {
            position: absolute;
            top: rem(474);
            margin-left: rem(897.92);
            width: rem(25);
            height: rem(34);
        }
    }
}

@media (max-width: 1024px) { 
    #sectionRoadmap {
        padding: rem(41) rem(24);
        .contents {
            .tit {
                font-size: rem(28);
                font-weight: bold;
                margin-bottom: rem(20);
            }
            .dt {
                font-weight: 400;
                margin-bottom: rem(40);
            }
            .roadmap-wrap {
                [class*= roadmap-list] {
                    width: 70%;
                    height: 70%;
                    min-height: rem(403);
                    min-width: rem(342);
                    padding: rem(30);
                    margin : rem(10) 0;
                    .dd {
                        font-size: rem(14);
                        font-weight: bold;
                    }
                    .tit {
                        font-size: rem(20);
                        font-weight: bold;
                        margin-bottom: rem(20);
                    }
                    .txt-wrap {
                        width: 100%;
                        min-width: rem(282);
                        .ic-check {
                            width: rem(28);
                            height: rem(28);
                            margin-right: rem(10);
                        }
                        .ic-blank {
                            width: rem(28);
                            height: rem(28);
                            margin-right: rem(10);
                        }
                        .txt {
                            font-size: rem(16);
                            font-weight: bold;
                        }
                    }
                    .thumb {
                        height: rem(261);
                        .obj-roadmap-complete {
                            display:none;
                        }

                        .obj-roadmap-mo-complete {
                            display:inline-block;
                            width: rem(334);
                            height: rem(261);
                        }
                    }
                }
            }
        }
        .bg-group-gem {
            position: absolute;;
            [class*='obj-gem'] {
                display:none;
            }
            .obj-gem-l1 {
                display:inline-block;
                top : rem(14);
                margin-left: rem(-145);
                width: rem(31);
                height: rem(40);
            }
            .obj-gem-l2 {
                display:inline-block;
                top : rem(164);
                margin-left: rem(-17);
                width: rem(40);
                height: rem(50);
            }
            .obj-gem-l3 {
                display:inline-block;
                top : rem(46);
                margin-left: rem(143);
                width: rem(25);
                height: rem(33);
            }
        }
    }
}

