.shadow {
    box-shadow: 0px 5px 10px #00000014;
}

#sectionservice {
    background: #F4F4F4 0% 0% no-repeat padding-box;
    padding: rem(200) rem(40);
    &.is-active {
        .bg-group-gem {
            position: fixed;
        }
    }
    .tit {
        font-size: rem(56);
        color: #1A1F27;
        text-align: left;
        margin: 0 rem(130);
        margin-bottom:rem(51);
    }
    .service-cont {
        width: rem(1072);
        height: 100%;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: rem(4) solid #000000;
        border-radius: rem(30);
        text-align: left;
        padding: rem(50) rem(100) rem(102) rem(100);
        margin: 0 rem(130);
        .dt {
            font-size: rem(28);
            font-weight: bold;
            padding-bottom: rem(20);
            border-bottom: rem(2) solid #D2D6DA;
            margin-top:rem(40);
            &:nth-of-type(1) {
                margin-top: rem(10);
            }
        } 

        .dd {
            margin-top: rem(18);
            font-size: rem(18);
            font-weight: 500;
            line-height: rem(25);
            > strong {
                font-weight: bold;
            }
        }
    }
    .bg-group {
        background-color: #F4F4F4;
        position: absolute;
        bottom:0;
        top:unset;
        height:rem(485);
        .sv-obj-ground {
            bottom:0;
            width: 100%;
            min-width: rem(1920);
            height: rem(482);
            background-image: url("../img/img-ground.png");
        }
        .sv-obj-flower {
            bottom: 0;
            width: 100%;
            min-width: rem(1920);
            height: rem(270);
            background-image: url("../img/obj-flower.png");
        }
        .sv-obj-grass {
            bottom: rem(-33);
            width: 100%;
            min-width: rem(1920);
            height: rem(270);
            background-image: url("../img/obj-grass.png");
        }
    }
    .bg-group-gem {
        background-color: #F4F4F4;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        overflow: hidden;
        [class*='obj-gem-'] {
            width: rem(40);
            height: rem(50);
            background-image: url("../img/ic_gem.svg");
            background-size: cover;
            left: 50%;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            transform: translateX(-50%);
        }
        .obj-gem-l1 {
            position: absolute;
            top: rem(350);
            margin-left: rem(-609);
            width: rem(25);
            height: rem(33);
        }
        .obj-gem-l2 {
            position: absolute;
            top: rem(477);
            margin-left: rem(-755);
            width: rem(36);
            height: rem(48);
        }
        .obj-gem-l3 {
            position: absolute;
            top: rem(308);
            margin-left: rem(-905);
            width: rem(31);
            height: rem(40.5);
        }
        .obj-gem-r1 {
            position: absolute;
            top: rem(503);
            margin-left: rem(659);
            width: rem(30);
            height: rem(40);
        }
        .obj-gem-r2 {
            position: absolute;
            top: rem(589);
            margin-left: rem(788);
            width: rem(36);
            height: rem(48);
        }
        .obj-gem-r3 {
            position: absolute;
            top: rem(554);
            margin-left: rem(994);
            width: rem(25);
            height: rem(34);
        }
    }
}

@media (min-width: 1921px) {
    #sectionservice {
        background-color: #F4F4F4;
        z-index: 1;
        .bg-group {
            background-color: #F4F4F4;
            .obj-ground {
                background-size: 100% rem(482);
            }
            .obj-flower {
                background-size: 100% rem(270);
            }
            .obj-grass {
                background-size: 100% rem(270);
            }
        }
    }
}

@media (max-width: 1024px) {
    #sectionservice {
        .contents {
            display:flex;
            flex-direction: column;
            align-items: center;
            .tit {
                width: 100%;
                font-size: rem(28);
                font-weight: bold;
                text-align: center;
                margin-bottom: rem(27);
            }
            .service-cont {
                width: 100%;
                padding : rem(37) rem(30);
                .txt {
                    font-size: rem(14);
                    font-weight: 500;
                    color:#1A1F27;
                }
                .dt {
                    font-size: rem(18);
                    font-weight: bold;
                }
                .dd {
                    font-size: rem(14);
                    font-weight: 500;
                }
            }
        }
        .bg-group-gem {
            display:none;
        }
    }
}