<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endorphin Factory</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/layout.js"></script>
</head>
<body>

 
<!-- wrap[s] -->
<div id="wrap">

    <!-- header[s] -->
    <header id="header" class="is-shadow">
        <div class="inner">
            <h1 class="logo"><a href="javascript:vold(0);"><span class="sr-only">ENDORPHIN FACTORY</span></a></h1>
            <a href="#" class="btn btn-md btn-mypage"><i class="ic ic-gem"></i>MY PAGE</a>
            <div class="lang-choice">
                <p class="sr-only">언어 선택</p>
                <button type="button" class="btn btn-md bd-none">KR</button>
            </div>
            <div class="link-choice">
                <button type="button" class="btn"><i class="ic ic-sns-link"></i><span class="sr-only">SNS 선택</span></button>
                <ul class="link-list">
                    <li><a href="javascript:vold(0);"><i class="ic ic-discard"></i>Discord</a></li>
                    <li><a href="javascript:vold(0);"><i class="ic ic-discard"></i>twitter</a></li>
                    <li><a href="javascript:vold(0);"><i class="ic ic-discard"></i>Instagram</a></li>
                    <li><a href="javascript:vold(0);"><i class="ic ic-discard"></i>YouTube</a></li>
                    <li><a href="javascript:vold(0);"><i class="ic ic-discard"></i>Facebook</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-gnb-open"><i class="ic ic-gnb-open"></i><span class="sr-only">메뉴 열기</span></button>
            <!-- gnb(s) -->
            <nav id="gnb">
              <ul>
                <li><a href="javascript:vold(0);">ENDORPHIN FACTORY</a></li>
                <li><a href="javascript:vold(0);">MINTING GUIDE</a></li>
                <li><a href="javascript:vold(0);">FACTORY SHOP</a></li>
                <li><a href="javascript:vold(0);">GALLERY</a></li>
                <li><a href="javascript:vold(0);">ROADMAP</a></li>
                <li><a href="javascript:vold(0);">NEWS</a></li>
                <li><a href="javascript:vold(0);">MY NFT</a></li>
              </ul>
              <button type="button" class="btn btn-gnb-close"><i class="ic ic-gnb-close"></i><span class="sr-only">메뉴 닫기</span></button>
            </nav>
            <!-- //top-nav(e) -->
        </div>
    </header>
    <!-- //header[e] -->

    <!-- main[s] -->
    <main id="container" class="bg-light"> <!-- //배경색 적용 클래스: .bg-white, .bg-light, .bg-sky -->
        
        <!-- contents[s] -->
        <section class="contents cont-bg-type2"> <!-- //배경 기본: light, .cont-body .inner: white -->
            <div class="cont-head">
                <div class="inner">
                    <div class="title-wrap">
                        <h2 class="tit">주문 상세 페이지</h2>
                    </div>
                </div>
            </div>
            <div class="cont-body">
                <div class="inner">
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                    내용<br>
                </div>
            </div>
        </section>
        <!-- //contents[e] -->
        
    </main>
    <!-- //main[e] -->

    <!-- footer[s] -->
    <footer id="footer">
        <div class="inner">
            <p class="logo"><a href="#"><span class="sr-only">DILLION META</span></a></p>
            <p class="copyright">COPYRIGHT © DILLION META. ALL RIGHTS RESERVED.</p>
            <a href="#" class="txt-link">이용약관</a>
        </div>
    </footer>
    <!-- //footer[e] -->

</div>
<!-- wrap[e] -->

<!-- script[s] -->
<script type="text/javascript">

</script>
<!-- script[e] -->

</body>
</html>